<h1>Hide-Show Template</h1>
<app-hideandshow></app-hideandshow>
<hr>
<h1>If Template</h1>
<app-iftemp></app-iftemp>
<hr>
<h1>If-Else Template EX-1</h1>
<app-ifelsetemp></app-ifelsetemp>
<h1>If-Else Template EX-1</h1>
<app-ifelsetemp2></app-ifelsetemp2>
<hr>
<h1>Switch Template EX-1</h1>
<app-switchtemp></app-switchtemp>
<h1>Switch Template EX-2</h1>
<app-switchtemp2></app-switchtemp2>
<h1>Switch Template EX-3 Using Default</h1>
<app-switchtemp3></app-switchtemp3>
<hr>
<h1>For Template EX-1</h1>
<app-fortemp></app-fortemp>
<h1>For Template EX-2</h1>
<app-fortemp2></app-fortemp2>